body {
	background-color: #ffff99;
	font-size: 1em;
}

h1 {
	font-size: 1.9em;
}

.navbarContainer {
	background:#555;
}

.navbar a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none;
	font-size: 1em;
}

.navbar a:hover {
	background-color: #ddd;
	color: black;
	font-weight: bold;
}

.navbar a.active {
	background-color: #4CAF50;
	font-weight: bold;
}
	
.nav-item {
	list-style-type: none;
	margin: auto;
}

.header { 
	background:#555;
	text-align:center; 
	width:100%;
}
	
#logo {
	margin-top: auto;
	margin-bottom: auto;
	margin-right: auto;
	margin-left: auto;
}

#title { 
	margin: auto;
	/* font-family: 'Dancing Script', cursive; */
	font-size: 7vmin; /*Taille variable pour les petits écrans*/
	text-shadow: 1px 1px white; /*Fait ressortir le texte sur les fonds sombres*/
	font-weight: bold;
	text-align: center;
}

#topNavbar {
	width:100%;
	margin:0;
}

/*Style des alertes*/
#breakingNews { 
	font-weight: bold;
	margin: auto;
	text-align: center;
	width: 100%;	
}
	
/*Ajuste le contenu pour accomoder la navbar fixe*/
.content { 
	padding-top: 200px;
	padding-right: 50px;
	padding-left: 50px;
}

#welcomeText {
	text-align: center;
	padding-right: 15%;
	padding-left: 15%;
}

footer {
	text-align: center;
}